
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    background-color: rgb(244, 192, 241);
    width: 300px;
    height: 380px; 
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;  
    border-radius: 10px; 
}

.heading {
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
    font-family: sans-serif;
}

.counter {
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 5px;
    font-weight: 600;
}

.btns {
    margin-top: auto;
}

.btn {
    background-color: orangered;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 12px;
    margin: 4px;
    cursor: pointer;
    font-weight: 600;
}

.h3{
    padding: 6px;
    font-size: 19px;
    font-family: sans-serif ;
    color: black;
    font-weight: 600;
}